.card-equipe__container {
  padding-top: 10px;
  padding-left: 13px;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

.card-equipe__container > i {
  color: inherit;
}

