.home__container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
	grid-auto-rows: auto;
	gap: 1rem;

	justify-items: center;
	align-items: start;
	justify-content: center;

	width: 100%;
	max-width: 1400px;
	margin: 4rem auto 1rem auto;
	padding-bottom: 7rem;
	/* AUMENTADO para dar espaço ao botão fixo */
	top: 5rem;
	position: relative;
	z-index: 1;
}

/* Botão chakra fixo no fundo */
.home-container__Visualizar {
	position: absolute;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);
	width: fit-content;
	z-index: 10;
}

/* Estilo do botão chakra laranja */
.btn__Visualizar {
	padding: 0.75rem 1.5rem;
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
	font-family: 'Ninja Naruto', sans-serif;
	color: #000;
	background-color: #f57c00;
	border-radius: 12px;
	width: auto;
	box-shadow: 0 0 10px #3ac1ff, 0 0 20px #1a75d1;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.btn__Visualizar:hover {
	transform: scale(1.05);
	box-shadow: 0 0 15px #4dc4ff, 0 0 30px #1a75d1;
	background-color: #ffa726;
}

.home__container app-card {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease forwards;
  animation-delay: calc(var(--i) * 80ms);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Keyframe da animação de subida suave */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* ### Responsividade ### */

/* XS: até 575px - Celulares pequenos */
@media (max-width: 575px) {
	.home__container {
		grid-template-columns: 1fr;
		padding: 0 1rem;
		margin-top: 2.5rem;
		padding-bottom: 12rem;
		/* 👈 aumenta o fundo pra botão fixo */
		height: auto;
	}

	.home-container__Visualizar {
		position: absolute;
		bottom: 1.5rem;
	}

	.btn__Visualizar {
		font-size: 1rem;
		padding: 0.5rem 1rem;
	}

	.home-container__Visualizar {
		margin-bottom: 3rem;
	}

}

/* SM: 576px até 767px - Celulares grandes */
@media (min-width: 576px) and (max-width: 767px) {
	.home__container {
		grid-template-columns: 1fr;
		padding: 0 1rem;
		margin-top: 2.5rem;
		padding-bottom: 7rem;
		/* 👈 aumenta o fundo pra botão fixo */
		height: auto;
	}

	.home-container__Visualizar {
		position: absolute;
		bottom: 1.5rem;
	}

}

/* MD: 768px até 991px - Tablets */
@media (min-width: 768px) and (max-width: 991px) {
	.home__container {
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
		padding: 0 2rem;
		padding-bottom: 7rem;
	}

	.btn__Visualizar {
		font-size: 1.3rem;
	}

	.home-container__Visualizar {
		left: 49%;

	}
}

/* LG: 992px até 1199px - Notebooks */
@media (min-width: 992px) and (max-width: 1199px) {
  .home__container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding: 0 2rem;
    padding-bottom: 5rem; /* espaço extra pro botão */
  }

  .home-container__Visualizar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  }

  .btn__Visualizar {
    font-size: 1.4rem;
    padding: 0.6rem 1.2rem;
  }
}
