/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.cdnfonts.com/css/ninja-naruto');

* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body {
  background: radial-gradient(circle at center, #ff9900 0%, #1a1a1a 80%);
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}

